
.button_reset {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
.button_reset:hover {
    color:blue;
}

.login-page {
    text-align: center;
}

.login-button {
    margin-inline: 10px;
}

.text-input-group {
    margin: 0 auto;
    width: 50%;
    min-width: 400px;
    margin-top: 2em;
}

.text-input-info {
    min-width: 150px
}