
.teacher-home {
    text-align: center;
}
#feastBackdrop {
    background-image: url("../../Images/FeastLeviHouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}