
.class-button {
    margin-inline: 0.25em;
    margin: 0.5em;
    max-width: 25vw;
}

.info-text {
    font-size: 75%;
    margin-top: 10px;
    margin-bottom: 10px
}

.class-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.class-card {
    width: 18rem;
    margin: 1rem
}