.teacher-class-page {
    text-align: center;
    height:100%;
}

.class-header:hover {
    cursor: pointer;
}

#parchmentBackdrop {
    background-image: url("../../Images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
#hunterBackdrop {
    background-image: url("../../Images/Hunters.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height: 100vh;
}
