.student-class-page {
    text-align: center;
}
#table-line {
    
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
}
#th-width {
    width: 150px;
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
}
.btn{
    width: 250px;
}