.student-class-page {
    text-align: center;
}

.button-row {
    width: 60em
}

.tab-page-container {
    padding-top: 4vh;
    height:100%;
    padding-bottom: 200px;
}
/*#parchmentBackdrop {
    background-image: url("../../Images/backdrop2.jpg");
    height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}*/
#parchmentBackdrop {
    background-image: url("../../Images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}