.transaction-history-gain {
    background-color: rgba(128, 255, 0, 0.662);
    width: auto;
    align-self: center;
    align-content: center;
}

.transaction-history-loss {
    background-color: rgba(247, 85, 85, 0.621);
    width: auto;
    align-self: center;
    align-content: center;
}

table.viewtransactions {
    all: inherit;
    align-self: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.viewtransactions_inner{
    width: auto;
    align-self: center;
    align-content: center;
}