
.student-home {
    text-align: center;
}
#schoolBackdrop {
    background-image: url("../../Images/SchoolOfAthens.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
}