.student-list-item {
    display: flex;
    align-items: center;

    font-size: larger;
    text-align: left;
    margin-block: 20px;
    padding-left: 10px;
    padding-block: 5px;

    outline: solid 1px darkgray;

    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.student-list-row {
    display: flex;
    align-items: center;
}