.home-page {
    text-align: center;
    background-color: #919191;
}

.home-page-header {
    background-color: #919191;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  